// Code formatting.
@if $enable-dark-mode {
  @include color-mode(dark, true) {
    // Prism dark mode overrides
    code[class*="language-"],
    pre[class*="language-"] {
      color: var(--td-code-fg) !important;
      background: var(--td-pre-bg) !important;
      text-shadow: none !important;
    }

    .token.comment,
    .token.prolog,
    .token.doctype,
    .token.cdata {
      color: #969896 !important;
    }

    .token.punctuation {
      color: #c5c8c6 !important;
    }

    .token.namespace {
      opacity: .7;
    }

    .token.property,
    .token.tag,
    .token.boolean,
    .token.number,
    .token.constant,
    .token.symbol,
    .token.deleted {
      color: #cc6666 !important;
    }

    .token.selector,
    .token.attr-name,
    .token.string,
    .token.char,
    .token.builtin,
    .token.inserted {
      color: #b5bd68 !important;
    }

    .token.operator,
    .token.entity,
    .token.url,
    .language-css .token.string,
    .style .token.string {
      color: #8abeb7 !important;
      background: transparent !important;
    }

    .token.atrule,
    .token.attr-value,
    .token.keyword {
      color: #81a2be !important;
    }

    .token.function,
    .token.class-name {
      color: #f0c674 !important;
    }

    .token.regex,
    .token.important,
    .token.variable {
      color: #de935f !important;
    }

    .command-line-prompt {
      border-right: 1px solid #444 !important;
    }

    .command-line-prompt > span:before {
      color: #666 !important;
    }

    div.code-toolbar > .toolbar > .toolbar-item > a,
    div.code-toolbar > .toolbar > .toolbar-item > button,
    div.code-toolbar > .toolbar > .toolbar-item > span {
      background: #373b41 !important;
      color: #c5c8c6 !important;
      box-shadow: 0 2px 0 0 rgba(0,0,0,.4) !important;
    }
  }
}

.td-content {
	// Highlighted code.
    .highlight {
        @extend .card;
	
        margin: 2rem 0;
        padding: 0;
	    
        pre {
            margin: 0;
            padding: 1rem;
        }
    }

    // Inline code
    p code, li > code, table code {
        color: inherit;
        padding: 0.2em 0.4em;
        margin: 0;
        font-size: 85%;
        word-break: normal;
        background-color: var(--td-pre-bg);
        border-radius: $border-radius;

        br {
            display: none;
        }
    }


    // Code blocks
    pre {
        word-wrap: normal;
        background-color: var(--td-pre-bg);
        padding: $spacer;
     

        > code {
	    background-color: inherit !important;
            padding: 0;
            margin: 0;
            font-size: 100%;
            word-break: normal;
            white-space: pre;
            border: 0;
        }
    }

    pre.mermaid {
        background-color: inherit;
        font-size: 0;
    }
}
