/*

Nothing defined here. The Hugo project that uses this theme can override Bootstrap by adding a file to:

assets/scss/_styles_project.scss

*/

.o-banner {
  @include media-breakpoint-up(md) {
    width: 100%;
    position: fixed;
    margin-left: -15px;
    z-index: 10;
    top: 4rem;
  }

  background: $gray-100;
  text-align: center;

  & p {
    padding: 0.5rem;
    margin-bottom: initial;
  }
}

pre.mermaid {
  padding: 0;
  margin: 0;
  background: transparent;
  border: 0;
}

.mermaid svg {
  width: 100%;
  height: auto;
}

.mermaid-zoom-wrapper {
  overflow: auto;
  max-height: 85vh;
  cursor: grab;
  user-select: none;
}

.mermaid-zoom-content {
  transform-origin: 0 0;
}

.mermaid-zoom-wrapper.dragging {
  cursor: grabbing;
}

.mermaid-zoom-controls {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 10;
}
