/*

Nothing defined here. The Hugo project that uses this theme can override Bootstrap by adding a file to:

assets/scss/_styles_project.scss

*/

.o-banner {
  @include media-breakpoint-up(md) {
    width: 100%;
    position: relative;
    z-index: 10;
    top: 4rem;
    img {
      margin-left: 0;
    }
  }

  background: $gray-100;
  text-align: center;

  & p {
    padding: 0.5rem;
    margin-bottom: initial;
  }
  img {
    max-width: 100vw;
    margin-left: -15px;
  }
}
