.safety-bulletin {
  margin: 20px auto 20px auto;
  width: auto;
  .search-table {
    margin-top: 50px;
    .btn-group {
      .btn {
        padding: 6px 14px;
        border-radius: 0px;
      }
      .btn-outline-primary{
        color: var(--bs-body-color);
        border-color: var(--bs-border-color);

        &:hover {
          color: #fff;
          background: var(--bs-primary);
          border-color: var(--bs-primary);
        }
      }

      .btn-check:checked + .btn-outline-primary,
      .btn-outline-primary:active, 
      .btn-outline-primary.active {
        color: #fff !important;
        background-color: var(--bs-primary) !important;
        border-color: var(--bs-primary) !important;
      }
    }
  }

  [data-bs-theme='dark'] & {
    .btn-outline-primary {
      color: var(--bs-body-color);
      border-color: var(--bs-border-color);
    }
  }
  .custom-table {
    margin-top: 30px;
  }
  .pagination-box{
    margin-top: 30px;
    display: flex;
    flex-flow: row-reverse;
    .total{
      height: 38px;
      display: flex;
      justify-content: center;
      align-items: center;
      // margin-right: 20px;
    }
    .page-item.active .page-link {
      z-index: 3;
      color: #fff;
      background-color: var(--bs-primary);
      border-color: var(--bs-primary);
    }
  }
}
