{{ $icon := .Get "icon" | default "fa-lightbulb" }}
{{ $url_text := .Get "url_text" }}
{{ $title := .Get "title" }}
<div class="col-lg-6 mb-5 mb-lg-0 text-center mt-5">
  <div class="mb-4 h1">
    <img src="{{ $icon }}" alt="{{ $title }}" style="width: 50px">
  </div>
  <h4 class="h3">
    {{ if eq .Page.File.Ext "md" }}
      {{ .Get "title" | markdownify }}
    {{ else }}
      {{ .Get "title" | htmlUnescape | safeHTML }}
    {{ end }}
  </h4>
  <p class="mb-0">
    {{ if eq .Page.File.Ext "md" }}
      {{ .Inner | markdownify }}
    {{ else }}
      {{ .Inner | htmlUnescape | safeHTML }}
    {{ end }}
  </p>
  {{ with .Get "url" }}<p><a href="{{ . }}">{{ with $url_text }}{{ $url_text }}{{ else }}{{ T "ui_read_more" }}{{ end }} …</a></p>{{ end }}
</div>
