{{ define "main"}}
    <main id="main">
      <div>
       <h1 id="title">Not found</h1>
          <p>Oops! This page doesn't exist. Try going back to our <a href="{{ "/" | relURL }}">home page</a>.</p>
      </div>
    </main>
    <script>
      (function () {
        function startsWith(str, search) {
          return str.substring(0, search.length) === search;
        }
        var matchPath = '/{{.Site.Language.Lang}}/docs/';
        var targetPath = '/{{.Site.Language.Lang}}/docs/kitex/';
        var pathname = window.location.pathname;
        // alias-mock for folder: /docs -> /docs/kitex
        if (startsWith(pathname, matchPath) && !startsWith(pathname, targetPath)) {
          window.location.href = window.location.origin + pathname.replace(matchPath, targetPath)
        }
      })();
    </script>
{{ end }}
