{{ define "main"}}
    <main id="main">
      <div>
       <h1 id="title">Not found</h1>
          <p>Oops! This page doesn't exist. Try going back to our <a href="{{ "/" | relURL }}">home page</a>.</p>
      </div>
    </main>
    <script>
      (function () {
        function isDocs(str) {
          return /^\/([A-Za-z0-9-]+\/)?docs\//.test(str);
        }
        function isKitexDocs(str) {
          return /^\/([A-Za-z0-9-]+\/)?docs\/kitex\//.test(str);
        }
        var pathname = window.location.pathname;
        // alias-mock for folder: /docs -> /docs/kitex
        if (isDocs(pathname) && !isKitexDocs(pathname)) {
          window.location.href = window.location.origin + pathname.replace('/docs/', '/docs/kitex/')
        }
      })();
    </script>
{{ end }}
