+++
title = "CloudWeGo"
linkTitle = "CloudWeGo"

+++

{{< blocks/cover title="Unlock Enterprise Cloud-Native Architectures with CloudWeGo" subtitle="Harness Power, Gain Flexibility: Build and Govern Microservices Effortlessly with CloudWeGo's Open-Source Middleware" image_anchor="top" height="full" color="dark" >}}
<p class="home-overview-btn-group">
    <a class="home-overview-btn" href="{{< relref "/docs" >}}">
    <span class="home-overview-btn-bg"></span>
    Get Started <i class="fas fa-arrow-alt-circle-right ml-2"></i>
    </a>
    <a class="home-overview-btn home-overview-btn-with-no-margin" target="_blank" href="https://github.com/cloudwego">
        <span class="home-overview-btn-bg"></span>
        Github <i class="fab fa-github ml-2 "></i>
    </a>
</p>
<div class="home-overview-link-down">
    {{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
<h2 class="home-section-title">Features</h2>
<p class="home-description text-center">
    Simplifying Enterprise-level Cloud-Native Architecture Construction and Management
</p>
<p class="home-description text-center">
  CloudWeGo is Your Ally in Building Enterprise-Level Cloud-Native Architectures
</p>
{{% /blocks/lead %}}

{{< blocks/section color="white" >}}
{{% blocks/feature-wide icon="/img/home/high-perf.png" title="High-Performance" %}}
<div class="home-feature-item">
  We integrate advanced features such as asynchronous RPC, streaming capabilities, non-blocking I/O networking, and Just-in-Time (JIT) compilation, allowing CloudWeGo to deliver superior performance for high-demand environments.
</div>
{{% /blocks/feature-wide %}}


{{% blocks/feature-wide icon="/img/home/extensibility.png" title="Strong Extensibility" %}}
<div class="home-feature-item">
  CloudWeGo employs a modular, layered framework providing a set of interfaces for tailor-made functionality. This ensures that it can meet the specific requirements of any project with precision and efficiency.
</div>
{{% /blocks/feature-wide %}}


{{% blocks/feature-wide icon="/img/home/multi-proto.png" title="Multi-Protocol Support" %}}
<div class="home-feature-item">
  We provide out-of-the-box support for Thrift, gRPC, HTTP/1, HTTP/2 and WebSocket, and the capability to easily extend to other protocols, ensuring maximum adaptability.
</div>
{{% /blocks/feature-wide %}}

{{% blocks/feature-wide icon="/img/home/tool.png" title="Built-In Code Generation Tools" %}}
<div class="home-feature-item">
   CloudWeGo can streamline your development process by providing built-in scaffold code generation tools for Thrift and gRPC.
</div>
{{% /blocks/feature-wide %}}

{{< /blocks/section >}}

{{< blocks/section color="white" >}}
<h2 class="home-section-title home-section-title-projects">Projects</h2>
<div class="row top-hr">
    <div class="col-md-3 col-sm-6 col-xs-12 home-project-item">
        <a href="https://github.com/cloudwego/kitex">
            <h2>Kitex</h2>
            <p>Next-gen Golang RPC framework transforming microservices with unprecedented scalability and performance.</p>
        </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 home-project-item">
        <a href="https://github.com/cloudwego/hertz">
            <h2>Hertz</h2>
            <p>Next-gen, high-performance Golang HTTP framework simplifying microservices development.</p>
        </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 home-project-item">
        <a href="https://github.com/cloudwego/netpoll">
            <h2>Netpoll</h2>
            <p>High-performance NIO network library, dedicated to building reliable, efficient services with a focus on RPC scenarios.</p>
        </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 home-project-item">
        <a href="https://github.com/cloudwego/volo">
            <h2>Volo</h2>
            <p>High Performance RPC Framework for high-performance & extensibility, in Rust.</p>
        </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 home-project-item">
        <a href="https://github.com/bytedance/monoio">
            <h2>Monoio</h2>
            <p>Thread-per-core Rust runtime with io_uring/epoll/kqueue.</p>
        </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 home-project-item">
        <a href="https://github.com/bytedance/sonic">
            <h2>Sonic</h2>
            <p>Blazingly fast JSON serializing & deserializing library, accelerated by JIT and SIMD.</p>
        </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 home-project-item">
        <a href="https://github.com/cloudwego/shmipc-go">
            <h2>Shmipc</h2>
            <p>High-performance IPC solution based on shared memory IPC.</p>
        </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 home-project-item">
        <a href="https://github.com/cloudwego">
            <h2>And more!</h2>
            <p>Discover CloudWeGo's projects.</p>
        </a>
    </div>
</div>

{{< /blocks/section >}}

{{< blocks/section color="secondary" >}}
<div class="home-quote">
    <div class="home-quote-text">
        "Over the past three years, Bytedance has witnessed rapid growth in the number and scale of its microservices.
        In 2018, we had about 7,000-8,000 online microservices, and by May 2021, the number had exceeded 50,000.
        Now, we have decided to open source these technologies to help more developers. "
    </div>
    <div class="home-quote-author">
        — Service Framework Team, ByteDance
    </div>
</div>
{{< /blocks/section >}}

{{< blocks/section color="white" type="home-logo-warp">}}
<h2 class="home-section-title">Created by</h2>
<div class="row home-used-by-wrapper home-used-by-created">
    <a class="home-used-by-item" href="/" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/img/usedby/ByteDance-en.png" alt="bytedance logo">
    </a>
</div>
<h2 class="home-section-title">Enterprise Users</h2>
<div class="raw home-used-by-item">
  <a class="home-used-by-item" href="https://www.toutiao.com/" target="_blank" rel="noopener">
    <img class="used-by-logo" src="/img/usedby/toutiao-en.png" alt="toutiao logo">
  </a>
  <a class="home-used-by-item" href="https://www.capcut.cn/" target="_blank" rel="noopener">
    <img class="used-by-logo" src="/img/usedby/capcut.png" alt="capcut logo">
  </a>
  <a class="home-used-by-item" href="https://www.feishu.cn/" target="_blank" rel="noopener">
    <img class="used-by-logo" src="/img/usedby/feishu-en.png" alt="feishu logo">
  </a>
  <a class="home-used-by-item" href="https://www.semir.com/" target="_blank" rel="noopener">
      <img class="used-by-logo" src="/img/usedby/semir-en.png" alt="semir logo">
  </a>
  <a class="home-used-by-item" href="https://en.moonton.com/" target="_blank" rel="noopener">
      <img class="used-by-logo" src="/img/usedby/moonton-en.png" alt="moonton logo">
  </a>
  <a class="home-used-by-item" href="https://www.holomatic.com/" target="_blank" rel="noopener">
      <img class="used-by-logo" src="/img/usedby/holomatic-en.png" alt="holomatic logo">
  </a>
  <a class="home-used-by-item" href="https://intl.ishumei.com/" target="_blank" rel="noopener">
    <img class="used-by-logo" src="/img/usedby/nextdata.png" alt="nextdata logo">
  </a>
  <a class="home-used-by-item" href="https://www.litatom.com/#/" target="_blank" rel="noopener">
    <img class="used-by-logo" src="/img/usedby/construct.png" alt="construct logo">
  </a>
</div>
{{< /blocks/section >}}

{{< blocks/section class="home-landscape" >}}
<div class="home-landscape-wrapper">
    <img src="https://landscape.cncf.io/images/cncf-landscape-horizontal-color.svg" width="150"/>
    <img src="https://www.cncf.io/wp-content/uploads/2023/04/cncf-main-site-logo.svg" width="200"/>

    <div class="home-landscape-desc">
        CloudWeGo enriches the <a href="https://landscape.cncf.io/">CNCF CLOUD NATIVE Landscape</a>.
    </div>
</div>
{{< /blocks/section >}}

{{< blocks/section color="dark" >}}
<div class="row top-hr home-footer-links">
    <div class="col-md-4 col-sm-6 col-xs-12 home-footer-links-item">
        <div class="home-footer-links-item-title">Docs</div>
        <ul>
            <li><a href="{{< relref "/docs/kitex">}}">Kitex</a></li>
            <li><a href="{{< relref "/docs/hertz">}}">Hertz</a></li>
            <li><a href="{{< relref "/docs/volo">}}">Volo</a></li>
            <li><a href="{{< relref "/docs/netpoll">}}">Netpoll</a></li>
            <li><a href="{{< relref "/docs/cwgo">}}">cwgo</a></li>
        </ul>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 home-footer-links-item">
        <div class="home-footer-links-item-title">Projects</div>
        <ul>
            <li><a target="_blank" rel="noopener noreferrer" href="https://github.com/cloudwego/kitex">Kitex</a></li>
            <li><a target="_blank" rel="noopener noreferrer" href="https://github.com/cloudwego/hertz">Hertz</a></li>
            <li><a target="_blank" rel="noopener noreferrer" href="https://github.com/cloudwego/volo">Volo</a></li>
            <li><a target="_blank" rel="noopener noreferrer" href="https://github.com/cloudwego/netpoll">Netpoll</a></li>
            <li><a target="_blank" rel="noopener noreferrer" href="https://github.com/bytedance/sonic">Sonic</a></li>
            <li><a target="_blank" rel="noopener noreferrer" href="https://github.com/bytedance/monoio">Monoio</a></li>
        </ul>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 home-footer-links-item">
        <div class="home-footer-links-item-title">Contact Us</div>
        <ul>
            <li><a href="mailto:conduct@cloudwego.io">Email: conduct@cloudwego.io</a></li>
            <li><a href="https://discord.gg/jceZSE7DsW">Join our Discord</a>
            </li>
        </ul>
    </div>
</div>
{{< /blocks/section >}}
