+++
title = "CloudWeGo"
linkTitle = "CloudWeGo"

+++

{{< blocks/cover title="Welcome to CloudWeGo" subtitle="A leading practice for building enterprise cloud native middleware!" image_anchor="top" height="full" color="dark" >}}
<p class="home-overview-btn-group">
    <a class="home-overview-btn" href="{{< relref "/docs" >}}">
    <span class="home-overview-btn-bg"></span>
    Get Started <i class="fas fa-arrow-alt-circle-right ml-2"></i>
    </a>
    <a class="home-overview-btn home-overview-btn-with-no-margin" target="_blank" href="https://github.com/cloudwego">
        <span class="home-overview-btn-bg"></span>
        Github <i class="fab fa-github ml-2 "></i>
    </a>
</p>
<div class="home-overview-link-down">
    {{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
<h2 class="home-section-title">Why CloudWeGo?</h2>
<p class="home-description">
    CloudWeGo is an open-source middleware set launched by ByteDance that can be used to quickly build enterprise-class cloud native architectures.
	  The common characteristics of CloudWeGo projects are high performance, high extensibility, high reliability and focus on microservices communication and governance.
</p>

{{% /blocks/lead %}}

{{< blocks/section color="white" >}}
{{% blocks/feature icon="fab" title="Open" %}}
<div class="home-feature-item">Fully open source, community neutral, compatible with the community open source ecology,
    pluggable components, CloudWeGo components and other open source components can be integrated or replaced with each other.
</div>
{{% /blocks/feature %}}


{{% blocks/feature icon="fab" title="Industry-standard" %}}
<div class="home-feature-item">Contains the components needed to build an enterprise-class cloud-native architecture,
    allowing users to focus more on business development, meet the current and future needs of user scenarios, and experience the refinement of large-scale scenarios.
</div>
{{% /blocks/feature %}}


{{% blocks/feature icon="fab" title="Cloud Native" %}}
<div class="home-feature-item">Quickly build a cloud-native microservice system and develop more reliable, extensible and easy-to-maintain cloud-native applications.
</div>
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/section color="white" >}}
<h2 class="home-section-title home-section-title-projects">Projects</h2>
<div class="row top-hr">
    <div class="col-md-3 col-sm-6 col-xs-12 home-project-item">
        <a href="https://github.com/cloudwego/kitex">
            <h2>Kitex</h2>
            <p>Next generation high performance, highly scalable Golang RPC framework.</p>
        </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 home-project-item">
        <a href="https://github.com/cloudwego/hertz">
            <h2>Hertz</h2>
            <p>Next generation high performance, highly scalable Golang HTTP framework.</p>
        </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 home-project-item">
        <a href="https://github.com/cloudwego/netpoll">
            <h2>Netpoll</h2>
            <p>High-performance NIO (Non-blocking I/O) network library, focusing on RPC scenarios.</p>
        </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 home-project-item">
        <a href="https://github.com/cloudwego/thriftgo">
            <h2>Thriftgo</h2>
            <p>A thrift compiler implemented by Golang supports plug-in mechanism.</p>
        </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 home-project-item">
        <a href="https://github.com/cloudwego/volo">
            <h2>Volo</h2>
            <p>A high-performance and strong-extensibility Rust RPC framework.</p>
        </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 home-project-item">
        <a href="https://github.com/bytedance/monoio">
            <h2>Monoio</h2>
            <p>A thread-per-core Rust runtime with io_uring/epoll/kqueue.</p>
        </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 home-project-item">
        <a href="https://github.com/cloudwego/motore">
            <h2>Motore</h2>
            <p>Async middleware abstraction powered by GAT and TAIT.</p>
        </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 home-project-item">
        <a href="https://github.com/cloudwego/pilota">
            <h2>Pilota</h2>
            <p>A thrift and protobuf implementation in pure rust with high performance and extensibility.</p>
        </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 home-project-item">
        <a href="https://github.com/bytedance/sonic">
            <h2>Sonic</h2>
            <p>A blazingly fast JSON serializing & deserializing library, accelerated by JIT and SIMD.</p>
        </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 home-project-item">
        <a href="https://github.com/cloudwego/frugal">
            <h2>Frugal</h2>
            <p>A very fast dynamic Thrift serializer & deserializer based on just-in-time compilation.</p>
        </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 home-project-item">
        <a href="https://github.com/cloudwego/fastpb">
            <h2>Fastpb</h2>
            <p>A faster Protobuf serializer & deserializer.</p>
        </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 home-project-item">
        <a href="https://github.com/cloudwego/cwgo">
            <h2>Cwgo</h2>
            <p>CloudWeGo All in one Code Generator.</p>
        </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 home-project-item">
        <a href="https://github.com/cloudwego/shmipc">
            <h2>Shmipc</h2>
            <p>A high-performance IPC solution based on shared memory IPC.</p>
        </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 home-project-item">
        <a href="https://github.com/cloudwego/dynamicgo">
            <h2>Dynamicgo</h2>
            <p>Dynamically and efficiently operate data for Go.</p>
        </a>
    </div>
</div>

{{< /blocks/section >}}

{{< blocks/section color="secondary" >}}
<div class="home-quote">
    <div class="home-quote-text">
        "Over the past three years, Bytedance has witnessed rapid growth in the number and scale of its microservices.
        In 2018, we had about 7,000-8,000 online microservices, and by May 2021, the number had exceeded 50,000.
        Now, we have decided to open source these technologies to help more developers. "
    </div>
    <div class="home-quote-author">
        — Service Framework Team, ByteDance
    </div>
</div>
{{< /blocks/section >}}

{{< blocks/section color="white" >}}
<h2 class="home-section-title">Created by</h2>
<div class="row home-used-by-wrapper home-used-by-created">
    <a class="home-used-by-item" href="/" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/img/usedby/bytedance.png" alt="bytedance logo">
    </a>
</div>
<h2 class="home-section-title">Used by</h2>
<div class="row home-used-by-wrapper">
    <a class="home-used-by-item" href="https://www.douyin.com/" target="_blank" rel="noopener">
      <img class="used-by-logo" src="/img/usedby/douyin.png" alt="douyin logo">
    </a>
    <a class="home-used-by-item" href="https://www.toutiao.com/" target="_blank" rel="noopener">
      <img class="used-by-logo" src="/img/usedby/toutiao.png" alt="toutiao logo">
    </a>
    <a class="home-used-by-item" href="https://www.ixigua.com/" target="_blank" rel="noopener">
      <img class="used-by-logo" src="/img/usedby/xigua.png" alt="xigua logo">
    </a>
    <a class="home-used-by-item" href="https://www.dongchedi.com/" target="_blank" rel="noopener">
      <img class="used-by-logo" src="/img/usedby/dongchedi.png" alt="dongchedi logo">
    </a>
    <a class="home-used-by-item" href="https://www.capcut.cn/" target="_blank" rel="noopener">
      <img class="used-by-logo" src="/img/usedby/jianying.png" alt="jianying logo">
    </a>
    <a class="home-used-by-item" href="https://fanqienovel.com/" target="_blank" rel="noopener">
      <img class="used-by-logo" src="/img/usedby/fanqie.png" alt="fanqie logo">
    </a>
    <a class="home-used-by-item" href="https://www.feishu.cn/" target="_blank" rel="noopener">
      <img class="used-by-logo" src="/img/usedby/feishu.png" alt="feishu logo">
    </a>
    <a class="home-used-by-item" href="https://www.semir.com/" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/img/usedby/semir.png" alt="semir logo">
    </a>
    <a class="home-used-by-item" href="https://www.huaxingsec.com" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/img/usedby/huaxing.png" alt="huaxingsec logo">
    </a>
    <a class="home-used-by-item" href="https://www.tanwan.com/" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/img/usedby/tanwan.png" alt="tanwan logo">
    </a>
    <a class="home-used-by-item" href="https://www.moonton.com/" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/img/usedby/moonton.png" alt="moonton logo">
    </a>
    <a class="home-used-by-item" href="https://www.holomatic.com/" target="_blank" rel="noopener">
        <img class="used-by-logo" src="/img/usedby/holomatic.png" alt="holomatic logo">
    </a>
    <a class="home-used-by-item" href="https://www.ishumei.com/" target="_blank" rel="noopener">
      <img class="used-by-logo" src="/img/usedby/ishumei.png" alt="ishumei logo">
    </a>
    <a class="home-used-by-item" href="https://www.foundersc.com/" target="_blank" rel="noopener">
      <img class="used-by-logo" src="/img/usedby/foundersc.jpeg" alt="foundersc logo">
    </a>
</div>
{{< /blocks/section >}}

{{< blocks/section class="home-landscape" >}}
<div class="home-landscape-wrapper">
    <img src="https://landscape.cncf.io/images/left-logo.svg" width="150"/>
    <img src="https://landscape.cncf.io/images/right-logo.svg" width="200"/>
    <div class="home-landscape-desc">
        CloudWeGo enriches the <a href="https://landscape.cncf.io/">CNCF CLOUD NATIVE Landscape</a>.
    </div>
</div>
{{< /blocks/section >}}

{{< blocks/section color="dark" >}}
<div class="row top-hr home-footer-links">
    <div class="col-md-4 col-sm-6 col-xs-12 home-footer-links-item">
        <div class="home-footer-links-item-title">Docs</div>
        <ul>
            <li><a href="{{< relref "/docs/kitex">}}">Kitex</a></li>
            <li><a href="{{< relref "/docs/hertz">}}">Hertz</a></li>
            <li><a href="{{< relref "/docs/volo">}}">Volo</a></li>
            <li><a href="{{< relref "/docs/netpoll">}}">Netpoll</a></li>
            <li><a href="{{< relref "/docs/motore">}}">Motore</a></li>
            <li><a href="{{< relref "/docs/pilota">}}">Pilota</a></li>
        </ul>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 home-footer-links-item">
        <div class="home-footer-links-item-title">Projects</div>
        <ul>
            <li><a target="_blank" rel="noopener noreferrer" href="https://github.com/cloudwego/kitex">Kitex</a></li>
            <li><a target="_blank" rel="noopener noreferrer" href="https://github.com/cloudwego/hertz">Hertz</a></li>
            <li><a target="_blank" rel="noopener noreferrer" href="https://github.com/cloudwego/volo">Volo</a></li>
            <li><a target="_blank" rel="noopener noreferrer" href="https://github.com/cloudwego/netpoll">Netpoll</a></li>
            <li><a target="_blank" rel="noopener noreferrer" href="https://github.com/bytedance/sonic">Sonic</a></li>
            <li><a target="_blank" rel="noopener noreferrer" href="https://github.com/bytedance/monoio">Monoio</a></li>
        </ul>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 home-footer-links-item">
        <div class="home-footer-links-item-title">Contact Us</div>
        <ul>
            <li><a href="mailto:conduct@cloudwego.io">Email: conduct@cloudwego.io</a></li>
            <li><a href="https://join.slack.com/t/cloudwego/shared_invite/zt-tmcbzewn-UjXMF3ZQsPhl7W3tEDZboA">Slack</a>
            </li>
        </ul>
    </div>
</div>
{{< /blocks/section >}}
